<label>
  <input type="checkbox"
         name="card[charities][][id]"
         value="<%= charity.id %>"
         <%= card.charities.where({ name: charity.get("name") }).length ? "checked" : "" %>
  >
  <%= charity.get("name") %>
</label>
