<label>
  <input type="checkbox"
         name="card[charities][][name]"
         value="<%= charity.get("name") %>"
         <%= card.charities.where({ name: charity.get("name") }).length ? "checked" : "" %>
  >
  <%= charity.get("name") %>
</label>
