<div class="checkbox">
  <label><input type="checkbox" name="card[charity][]" value="Giving What We Can">Giving What We Can</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charity][]" value="The Life You Can Save">The Life You Can Save</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charity][]" value="Charity Science">Charity Science</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charity][]" value="MIRI">MIRI (Machine Intelligence Research Institute)</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charity][]" value="Future of Humanity Institute">FHI (Future of Humanity Institute)</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charity][]" value="Animal Charity Evaluators">Animal Charity Evaluators</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charity][]" value="Against Malaria Foundation">Against Malaria Foundation</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charity][]" value="Schistosomiasis Control Initiative">SCI (Schistosomiasis Control Initiative)</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charity][]" value="GiveDirectly">GiveDirectly</label>
</div>
