<div class="checkbox">
  <label><input type="checkbox" name="card[charity]" value="Giving What We Can">Option 1</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charity]" value="The Life You Can Save">Option 2</label>
</div>
