<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
  </ol>
</div>

<!-- Carousel items -->

<div class="carousel-inner">
</div>

<a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
<h1> Here are words</h1>
