<!-- <div class="checkbox">
  <label><input type="checkbox" name="card[charities][]" value="Giving What We Can" <%= card.get("charities").indexOf("Giving What We Can") >= 0 ? "checked" : "" %>>Giving What We Can</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charities][]" value="The Life You Can Save" <%= card.get("charities").indexOf("Giving What We Can") >= 0 ? "checked" : "" %>>The Life You Can Save</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charities][]" value="Charity Science">Charity Science</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charities][]" value="MIRI">MIRI (Machine Intelligence Research Institute)</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charities][]" value="Future of Humanity Institute">FHI (Future of Humanity Institute)</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charities][]" value="Animal Charity Evaluators">Animal Charity Evaluators</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charities][]" value="Against Malaria Foundation">Against Malaria Foundation</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charities][]" value="Schistosomiasis Control Initiative">SCI (Schistosomiasis Control Initiative)</label>
</div>
<div class="checkbox">
  <label><input type="checkbox" name="card[charities][]" value="GiveDirectly">GiveDirectly</label>
</div> -->
