<div class="form-group">
  <label for="for">To <small>(recipient)</small></label>
  <input type="text" class="form-control" name="card[for]" id="for" placeholder="Winston Churchill">
</div>
<div class="form-group">
  <label for="from">From <small>(you!)</small></label>
  <input type="text" class="form-control" name="card[from]" id="from" placeholder="Your name">
</div>
<div class="form-group">
  <label for="from">From <small>(you!)</small></label>
  <input type="text" class="form-control" name="card[from]" id="from" placeholder="Your name">
</div

<div class="input-group">
  <label for="amount">Gift amount</label>
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control" placeholder="20" id="amount" name="card[amount]">
</div>


icon-gift
