<div class="form-group">
  <label for="for">For <small>(recipient name)</small></label>
  <input type="text" class="form-control" id="for">
</div>
<div class="form-group">
  <label for="from">From <small>(your name)</small></label>
  <input type="text" class="form-control" id="from">
</div>
