/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'slick';
 @import 'slick-theme';
 @import url(http://fonts.googleapis.com/css?family=Muli);

// global

body {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  background: #87e0fd;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'Muli', sans-serif;
}

main {
  padding: 90px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.voffset-2 { margin-top: -5px; }
.voffset-1 { margin-top: -2px; }
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }


// navbar

nav.navbar-default {
  position: absolute;
  left: 0;
  right: 0;
}

// home page

main.home-bg {
  background-image: image-url("bix-pink.jpg");
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
  background-repeat: no-repeat;
}

button.btn-present {
  background: -webkit-linear-gradient(#FFB8DB, #FFA3D1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFB8DB, #FFA3D1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFB8DB, #FFA3D1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFB8DB, #FFA3D1); /* Standard syntax */
  color: white;
  text-shadow: 1px 1px 2px #666;
}

button.btn-present:hover {
  color: #FFFF99;
}

div.card-box {
  background: rgba(255, 153, 204, 0.65);
  border-radius: 5px;
  padding: 17px;
  border-bottom: 3px solid #E68AB8;
  margin-bottom: 10px;
  color: white;
  text-shadow: 1px 1px 2px #666;
}

// options page

main.soft-bg {
  background: -webkit-linear-gradient(#87e0fd, #05abe0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#87e0fd, #05abe0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#87e0fd, #05abe0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#87e0fd, #05abe0); /* Standard syntax */
  position: fixed;
  overflow: scroll;
  height: 100%;
  color: white;
  text-shadow: 1px 1px 2px #666;
}

div.slider-div {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  text-align: center;
}

img.design-item {
  width: 100%;
  display: block;
  float: left;
}

div.fields-form {
}

span.required {

}

.input-group-addon
{
    background-color:#FFF;
}

.input-group .input-group-addon + .form-control
{
    border-left:none;
}

p.help-block small {
  color: white;
  font-size: 12px;
}

span.required {
  color: yellow;
  text-shadow: none;
}

span.charity-chooser {
  color: yellow;
}

.form-control:focus {
  border-color: #ccf;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 140, 0.6);
}
