<div class="col-md-6">
  <textarea id="redactor">
    <p>Hey there grandpa. I really love you. I just wish you'd stop hitting me.</p>
    <h1>Hahahahaha god</h1>
  </textarea>
</div>
<div class="col-md-6"><div class="row"></div><button>Button</button>
</div>
