<div class="col-md-6 col-md-offset-1">
  <h3>Send a message!</h3>
  <textarea id="redactor">
    <p>Hey there <%= card.get("recipient_name") %>. I really love you. I just wish you'd stop hitting me.</p>
    <h1>Hahahahaha this is so stupid.</h1>
  </textarea>
</div>
</div>
