<div class="col-md-5 col-md-offset-1">
  <h3>Send your message!</h3>
  <textarea id="redactor">
    <p>My dearest <%= card.get("recipient_name") %>. I wanted to share this with you. I hope you enjoy it.</p>
  </textarea>
</div>
<div class="col-md-3 col-md-offset-1">
  <button class="btn-xl btn-present center-block" id="next">Finalize</button>
</div>
