<div class="container">
  <div class="home-card col-sm-4">
    <div class="card-box">
      <p>Give your loved ones a better present. Instead of buying them something they don't need, let them play a giving game and give back to the world.</p>
    </div>
    <button class="btn btn-present" id="give-gift">Give a gift</button>
  </div>
</div>
