<div class="card-preview">
  <p>Give a better present. Instead of buying them something they don't need, let them play a giving game and give back to the world.</p>
</div>

<button class="btn btn-primary">Give a gift</button>
