<div class="container">
  <div class="design-select col-md-4"></div>
  <div class="col-md-offset-1 col-md-3">
    <div class="fields-form"></div>
    <button class="btn-xl btn-present center-block">Next </button>
  </div>
  <div class="row"></div>
  <div class="options-form col-md-4"></div>
</div>
